.title-slide {
    background-image: url('../img/UL_SMCNJT_C_d.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom 60px right 60px ;
}

.title-slide {
  background-color: #eeeef0;
  border-top: 80px solid #eeeef0;
}

