@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Source : https://education.rstudio.com/blog/2020/05/learnr-for-remote */
/* Source 2 : https://github.com/allisonhorst/dplyr-learnr/blob/master/css/style.css */

body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #636363;
  background-color: #f9f9f9;
}

P {
  color: #636363;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242738;
  font-family: "Roboto Slab", sans-serif;
}


/*-------- Code chunk header panel ---------*/
.panel-default > .panel-heading {
    color: #242738;
    background-color: #c4c4c4;
    border: 0;
}

/*------- Rectangle panels --------*/
.panel, pre {
    border-radius: 0;
    border: 0;
    font-size: 16px;
    font: 'Jost', sans-serif
}

/*-------- Code chunk main panel --------*/

.ace-tm {
    background-color: white;
    color: dimgray;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

/*-------- Line # cells --------*/

.ace_gutter-cell {
    padding-left: 19px;
    padding-right: 6px;
    background-repeat: no-repeat;
    background-color: gainsboro;
    color: #242738;
}

/*-------- Code returns --------*/
.tutorial-exercise-output > pre {
    max-height: 500px;
    overflow-y: auto;
    background-color: gainsboro;
    color: dimgray;
    font-size: 13px;
}


/*------- In line code aesthetic --------*/
code {
    font-family: 'Roboto Mono', monospace;
    color: #242738;
    background-color: gainsboro;
    font-size: 13px;
}

/*------- Hyperlinks --------*/
a {
    font-family: 'Jost', sans-serif;
    color: #09f;
}

a:hover, a:focus {
    text-decoration: underline;
}


/* Menu */

.topicsList .topic {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    background-color: #f8f9fa;
}

.topicsList .topic.current {
    font-family: 'Roboto Slab', serif;
    background-color: #c4c4c4;
    border: 0px;
}

/*--- When hovering ---*/
.topicsList .topic:hover {
    color: #09f;
}

/*------- Buttons -------*/

.btn-success{
    color: white;
    background-color: #09f;
    background-image: none;
    border: none;
    font-size: 12px;
    text-shadow: none;
}

/*------- Buttons when hovering -------*/
.btn-default:hover, btn-success:hover, btn-info:hover, btn-primary:hover {
  background-color: gray;
  color: white;
}

/*-------- Code chunk buttons hover aesthetic -------*/

.tutorial-exercise-input .btn-xs{
    font-size: 12px;
}

.tutorial-exercise-input .btn-xs:hover {
    background-color: gray;
    color: white;
}

/*------- Button disabled -------*/

/*
.btn-primary.disabled {
    color: #c8c8c8;
    background-color: #5a5a5a;
    background-image: none;
    border: none;
    font-family: 'Delius', cursive;
    text-shadow: none;
}
*/

/*------- Button default/primary -------*/
.btn-default {
    color: white;
    background-color: #09f;
    border: none;
    font-size: 14px;
}

.btn-primary {
    color: white;
    background-color: #09f;
    border: none;
    font-size: 14px;
}

/*------- Update Next Section button -------*/
.topicActions .btn-primary:hover {
    color: white;
    background-color: #09f;
    border: none;
}


/* Content tabs */
/* Source  : https://github.com/themefisher/dot */

.tabbable {
  border: 1px solid #dee2e6;
  overflow: hidden;
  margin: 20px 0px;
}

.tabbable .tab-content {
  padding: 20px 15px;
  margin-bottom: 0;
}

.tabbable .tab-content .tab-pane{
  margin-bottom: 0;
}

.tabbable .nav-tabs {
  margin-bottom: 0;
}

.tabbable .nav-tabs .nav-item {
  padding-left: 0;
  border-right: 1px solid #dee2e6;
}

.tabbable .nav-tabs .nav-item .nav-link {
  text-decoration: none;
  font-weight: 500;
  border: 0;
  margin-bottom: 0;
}

.tabbable .nav-tabs .nav-item::before {
  display: none;
}

/* Images */

img {
  vertical-align: middle;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
